<template>
 <div class="page">
   <div v-for="post in posts" :key="post.id">
   <ItemCard
   :title="post.name"
   :place="post.place"
   :itemid="post.id"
   :adminmail="post.userid"
   />
   </div>
 </div>
</template>

<script>
import axios from 'axios'
import ItemCard from '~/components/Item/ItemCard'

export default {
  components: {
    ItemCard,
  },
  data () {
   return {
     posts: [],
    }
  },
   mounted () {
   axios.get('http://localhost:5000/api/shops')
     .then((response) => this.posts = response.data.data)
 },
}
</script>