<template>
<div>
  <div>
  <h1>ショップ情報登録</h1>
  <form @submit.prevent="registerShop">
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="shop.name"
          label="名前"
        >
        </v-text-field>
      </v-col> 
    </v-row>
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="shop.place"
          label="場所"
        >
        </v-text-field>
      </v-col> 
    </v-row>
    <div class="form-group">
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="shop.userid"
          label="ユーザーID"
          readonly
        >
        </v-text-field>
      </v-col> 
    </v-row>
    </div>
    <v-btn color="primary" type="submit" @click="returnTop">
      登録
    </v-btn>
  </form>
  </div>
</div>
</template>

<script>
  export default {
    middleware({ store, redirect }) {
      if(!store.$auth.role=='Admin' && !store.$auth.role=='SA' ) {
        redirect('/user/login');
      }
    },
    data(){
      return {
        shop:{
          name:'',
          place:'',
          userid:this.$auth.user.id,
        },
      }
    },
    methods:{
      registerShop(){
        this.$axios.post('/api/shop/new',this.shop)
        .then((response) => {
          data: this.shop
        })
      },
      returnTop(){
        alert('登録されたと思います')
        this.$router.push('/user/portal')
      }
    }
  }
</script>