<template>
  <v-card
    class="mx-auto"
    elevation="2"
    outlined
    width="80vw"
  >
    <v-card-title class="headline mb-1">{{ title }}</v-card-title>
    <v-card-subtitle>{{ url }}</v-card-subtitle>
    <v-card-text>
      {{ description }}
    </v-card-text>

    <v-card-actions>
      <v-btn
        text
        :href="url"
      >
        すすむ
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  props: {
    'title': {
      type: String, // String型に限定
      required: true, // 必須項目
    },
    'description': {
      type: String, // String型に限定
      required: true, // 必須項目
    },
    'url': {
      type: String, // String型に限定
      required: true, // 必須項目
    },
  },
  data() {
    return{
    itemurl: "/" + this.itemid,
    }
  },
  methods:{
    details(){
      this.$router.push('/')
    }
  },
}
</script>
