<template>
  <a
  :href="surl"
  >
    <v-card>
        <v-card-title>
            {{ title }}
        </v-card-title>
    </v-card>
  </a>
</template>

<script>
export default {
  props: {
    'title': {
      type: String, // String型に限定
      required: true, // 必須項目
    },
    'surl': {
      type: String,
      required: true,
    }
  },
}
</script>

<style scoped>
  .kakoy{
    text-align: center;
  }
  a{
    text-decoration:none; 
  }
</style>
