<template>
  <div>
    <p class="plz_select_inform">
      どちらの機能をご利用ですか？
    </p>
    <v-container>
      <v-row>
        <v-col class="plz_select_inform" col="6">
          <EaseSelector
            title="レジ業務"
            :surl="'./'+$route.params.id+'/casher'"
          />
        </v-col>
        <v-col class="plz_select_inform" col="6">
          <EaseSelector
            title="調理業務"
            :surl="'./'+$route.params.id+'/cook'"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import EaseSelector from '~/components/EaseSelector'
export default {
  components:{
    EaseSelector,
  }
}
</script>

<style scoped>
.plz_select_inform{
  text-align: center;
  font-size: 1.3em;
}
</style>
