<template>
<div>
  <div>
  <h1>ユーザ登録</h1>
  <form @submit.prevent="registerUser">
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="user.name"
          label="名前"
        >
        </v-text-field>
      </v-col> 
    </v-row>
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="user.email"
          label="Eメール"
        >
        </v-text-field>
      </v-col> 
    </v-row>
    <div class="form-group">
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="user.password"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required, rules.min]"
          :type="show1 ? 'text' : 'password'"
          label="パスワード"
          @click:append="show1 = !show1"
        >
        </v-text-field>
      </v-col> 
    </v-row>
    </div>

    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="user.role"
          label="役職"
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-btn color="primary" type="submit">
      登録
    </v-btn>
  </form>
  </div>
</div>
</template>

<script>
  export default {
    middleware({ store, redirect }) {
      if(!store.$auth.loggedIn=='Normal') {
        redirect('/');
      }
    },
    data(){
      return {
        user:{
          name:'',
          email:'',
          password:'',
          role:'Admin',
        },
        show1: false,
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
        },
      }
    },
    methods:{
      registerUser(){
        this.$axios.post('/api/auth/register/',this.user)
        .then((response) => {
          this.$auth.loginWith('local',{
            data: this.user
          })
        })
      },
    }
  }
</script>
