<template>
<div>
  <div>
  <h1>ログインユーザ</h1>
  <form @submit.prevent="loginUser">
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="user.email"
          label="Eメール"
        >
        </v-text-field>
      </v-col> 
    </v-row>
    <div class="form-group">
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="user.password"
          :type="show1 ? 'text' : 'password'"
          label="パスワード"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required, rules.min]"
          @click:append="show1 = !show1"
        >
        </v-text-field>
      </v-col> 
    </v-row>
    </div>
    <v-btn
      color="primary"
      type="submit"
      @click="loginUser; returnTop"
    >
      ログイン
    </v-btn>
  </form>
  </div>
</div>
</template>

<script>
export default {
  middleware({ store, redirect }) {
    if(store.$auth.loggedIn) {
      redirect('/user/portal');
    }
  },
  data(){
    return {
      user:{
        email:'',
        password:'',
      },
      show1: false,
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
      },
    }
  },
  
  methods:{
    loginUser(){
      this.$auth.loginWith('local',{
        data:this.user
      })
    },
    returnTop(){
        this.$router.push('/')
    }
  }
}
</script>
