<template>
<div>
    <v-card v-for="post in posts" :key="post.id">
        <v-card-title class="b">注文ID　{{post.id}}</v-card-title>
        <div id="shop" class="timecaution">ショップ名：
            <span v-for="shops in shops[post.shopid - 1]" :key="shops.id">
                {{shops}}
            </span>
        </div>
        <v-card-text>
            <div>
            <span v-for="iList in iList[post.itemid1 - 1]" :key="iList.id">
                {{iList}}
            </span>
            個数：
            {{post.quantity1}}
            </div>
            
            <div v-if="post.itemid2 != null">
            <span v-for="iList in iList[post.itemid2 - 2]" :key="iList.id">
                {{iList}}
            </span>
            個数：
            {{post.quantity2}}
            </div>
            
            <div v-if="post.itemid3 != null">
            <span v-for="iList in iList[post.itemid3 - 1]" :key="iList.id">
                {{iList}}
            </span>
            個数：
            {{post.quantity3}}
            </div>
            
            <div v-if="post.itemid4 != null">
            <span v-for="iList in iList[post.itemid4 - 1]" :key="iList.id">
                {{iList}}
            </span>
            個数：
            {{post.quantity4}}
            </div>
            
            <div v-if="post.itemid5 != null">
            <span v-for="iList in iList[post.itemid5 - 1]" :key="iList.id">
                {{iList}}
            </span>
            個数：
            {{post.quantity5}}
            </div>
        </v-card-text>
        <div id="pickup">
            <span class="timecaution">
                <span class="timecaution" id="picktime">
                    {{post.picktime}}
                </span>
                の時間帯でお受け取りください。
            </span>
        </div>
    </v-card>
</div>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return{
            posts: [],
            iList: [],
            shops: []
        }
    },
mounted () {
    axios.request({
        method: 'get',
        url: 'http://localhost:5000/api/order/list',
        params: {
            id: this.$auth.user.id,
        }
    })
    .then((response) => this.posts = response.data.data),
    axios.request({
        method: 'get',
        url: 'http://localhost:5000/api/item/list/anyshop'
    })
    .then((response) => this.iList = response.data.data)
    axios.request({
        method: 'get',
        url: 'http://localhost:5000/api/shop/name',
    })
    .then((response) => this.shops = response.data.data)
    },
}
</script>

<style scoped>
#shop{
    padding-left: 0.7em;
    padding-right: 0.7em;
}
#pickup{
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 0.7em;
}
.timecaution{
  font-family: 'Inter UI',fot-udkakugo-large-pr6n,'Noto Sans JP', 'Noto Sans SC','Noto Sans KR',sans-serif !important;
  font-size: 1.3em !important;
  font-weight: 700
}
.timecaution #picktime{
  font-family: 'Inter UI','Noto Sans JP', 'Noto Sans SC','Noto Sans KR',sans-serif !important;
  font-size: 1.3em !important;
  color:tomato;
}
</style>
