<template>
  <div>
    <v-layout column>
      <h2>
        {{$auth.user.name}}様、ようこそ。
      </h2>
      <p>
        このポータルではあなたのできることを全て表示しています。
      </p>
    </v-layout>
    <v-layout column justify-center align-center>
      <PortalCard
      v-for="(portal, p) in purls"
      class="intercolumn"
      :key="p"
      :title="portal.title"
      :url="portal.url"
      :description="portal.description"
      />
      </v-layout>
      <div v-if="$auth.user.role=='Admin' || $auth.user.role=='SA' ">
        <v-layout column justify-center align-center>
        <PortalCard
        v-for="(shopad, sa) in shopads"
        class="intercolumn"
        :key="sa"
        :title="shopad.title"
        :url="shopad.url"
        :description="shopad.description"
        />
      </v-layout>
      </div>
      <div v-if="$auth.user.role=='Admin'">
        <v-layout column justify-center align-center>
        <PortalCard
        v-for="(admin, a) in admins"
        class="intercolumn"
        :key="a"
        :title="admin.title"
        :url="admin.url"
        :description="admin.description"
        />
      </v-layout>
    </div>
  </div>
</template>

<script>
import PortalCard from '~/components/Portal/PortalCard'

export default {
  middleware({ store, redirect }) {
    if(store.$auth.loggedIn) {
    }else{
      redirect('/user/signup');
    }
  },
 components: {
   PortalCard,
 },
 data() {
  return{
    purls: [
      {
        title: 'ショップリスト',
        description: '登録されている店舗の一覧です。',
        url: '/shop/list',
      },
      {
        title: 'お知らせ',
        description: 'お知らせ一覧です',
        url: '/notification',
      },
      {
        title: '注文済みの一覧',
        description: 'あなたがこれまでこのアカウントで注文したものを全て確認することができます。',
        url: '/user/ordered',
      },
    ],
    shopads: [
      {
        title: '店舗の追加',
        description: '店舗を追加します',
        url: '/shop/new',
      },
    ],
    admins: [
      {
        title: '管理ユーザーの追加',
        description: '管理ユーザーの情報を登録します',
        url: '/user/addadm'
      },
    ],
  }
 }
}
</script>
