<template>
 <div class="page">
   <h1>
     商品リスト
   </h1>
   <div v-for="post in posts" :key="post.id">
    <PriceCard
    :title="post.name"
    :price="post.price"
    :quantity="post.quantity"
    />
   </div>

 </div>
</template>

<script>
import axios from 'axios'
import PriceCard from '~/components/Item/PriceCard'

export default {
  components: {
    PriceCard,
  },
  data () {
   return {
     posts: [],
    }
  },
  mounted () {
    axios.request({
      method: 'get',
      url: 'http://localhost:5000/api/item/list/',
      params: {
        id: this.$route.params.id,
      }
    })
    .then((response) => this.posts = response.data.data)
  },
}
</script>
