<template>
  <v-card
    class="mx-auto"
    elevation="2"
    outlined
    width="80vw"
  >
    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title class="headline mb-1">{{title}}</v-list-item-title>
        <v-list-item-subtitle>所在地：{{place}}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-card-actions>
      <v-btn
        text
        :href="itemurl"
      >
        詳細
      </v-btn>
      <v-btn
        text
        v-if="this.$auth.user.role=='Admin' || (this.$adminmail==$auth.user.mail && this.$auth.user.role=='SA')"
        :href="newitem"
      >
        商品の追加
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  props: {
    'title': {
      type: String, // String型に限定
      required: true, // 必須項目
    },
    'place': {
      type: String, // String型に限定
      required: true, // 必須項目
    },
    'itemid': {
      type: Number, // String型に限定
      required: true, // 必須項目
    },
    'adminmail': {
      type: String, // String型に限定
      required: true, // 必須項目
    },
  },
  data() {
    return{
      itemurl: "/" + this.itemid,
      newitem: "/" + this.itemid+"/item/new",
    }
  },
  methods:{
    details(){
      this.$router.push('/')
    }
  },
}
</script>
