<template>
  <v-card
    class="mx-auto"
    elevation="2"
    outlined
    width="80vw"
  >
    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title class="headline mb-1">{{title}}</v-list-item-title>
        <v-list-item-subtitle>価格:{{price}} /数量:{{quantity}}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>
<script>
export default {
  props: {
    'title': {
      type: String, // String型に限定
      required: true, // 必須項目
    },
    'price': {
      type: Number, // String型に限定
      required: true, // 必須項目
    },
    'quantity': {
      type: Number, // String型に限定
      required: true, // 必須項目
    },
  },
  data() {
    return{
      itemurl: "/" + this.itemid,
    }
  },
  methods:{
    details(){
      this.$router.push('/')
    }
  },
}
</script>
