<template>
  <div>
    <p class="plz_select_inform">
      注文一覧
    </p>
    <p>
      詳細を見るには各注文をタップしてください。
    </p>

    <div v-for="post in posts" :key="post.id">
        <v-card>
            <v-card-title class="b noline">注文ID　{{post.id}}</v-card-title>
            <div id="shop" class="timecaution">注文者:
                <p v-for="users in users[post.userid - 1]" :key="users.id">
                  {{users}}
                </p>
            </div>
            <v-card-text class="textsize">
                <div>
                <p v-for="iList in iList[post.itemid1 - 1]" :key="iList.id">
                    {{iList}}
                </p>
                個数：
                {{post.quantity1}}
                (
                <span v-for="iPrice in iPrice[post.itemid1 - 1]" :key="iPrice.id">
                  <button id="sam">
                    {{iPrice}}
                  </button>
                </span>
                円)
                </div>
                
                <div v-if="post.itemid2 != null">
                <span v-for="iList in iList[post.itemid2 - 2]" :key="iList.id">
                    {{iList}}
                </span>
                個数：
                {{post.quantity2}}
                (
                <span v-for="iPrice in iPrice[post.itemid2 - 1]" :key="iPrice.id">
                    {{iPrice}}
                </span>
                円)
                </div>
                
                <div v-if="post.itemid3 != null">
                <span v-for="iList in iList[post.itemid3 - 1]" :key="iList.id">
                    {{iList}}
                </span>
                個数：
                {{post.quantity3}}
                (
                <span v-for="iPrice in iPrice[post.itemid3 - 1]" :key="iPrice.id">
                    {{iPrice}}
                </span>
                円)
                </div>
                
                <div v-if="post.itemid4 != null">
                <span v-for="iList in iList[post.itemid4 - 1]" :key="iList.id">
                    {{iList}}
                </span>
                個数：
                {{post.quantity4}}
                (
                <span v-for="iPrice in iPrice[post.itemid4 - 1]" :key="iPrice.id">
                    {{iPrice}}
                </span>
                円)
                </div>
                
                <div v-if="post.itemid5 != null">
                <span v-for="iList in iList[post.itemid5 - 1]" :key="iList.id">
                    {{iList}}
                </span>
                個数：
                {{post.quantity5}}
                (
                <span v-for="iPrice in iPrice[post.itemid5 - 1]" :key="iPrice.id">
                    {{iPrice}}
                </span>
                円)
                </div>
            </v-card-text>
            <div id="pickup">
                <span class="timecaution">
                    <span class="timecaution" id="picktime">
                        {{post.picktime}}
                    </span>
                    の時間帯でご予約
                </span>
            </div>
        </v-card>
    </div>
  </div>
</template>

<script>
import EaseSelector from '~/components/EaseSelector'
import axios from 'axios'
export default {
  components:{
    EaseSelector,
  },
  data(){
    return{
      posts: [],
      iList: [],
      iPrice: [],
      shops: [],
      users: []
    }
  },
  mounted () {
    axios.request({
        method: 'get',
        url: 'http://localhost:5000/api/order/co',
        params: {
            id: this.$route.params.co,
        }
    })
    .then((response) => this.posts = response.data.data),
    axios.request({
        method: 'get',
        url: 'http://localhost:5000/api/item/list/anyshop'
    })
    .then((response) => this.iList = response.data.data),
    axios.request({
        method: 'get',
        url: 'http://localhost:5000/api/item/price/anyshop'
    })
    .then((response) => this.iPrice = response.data.data)
    axios.request({
        method: 'get',
        url: 'http://localhost:5000/api/shop/name',
    })
    .then((response) => this.shops = response.data.data),
    axios.request({
        method: 'get',
        url: 'http://localhost:5000/api/user/name',
    })
    .then((response) => this.users = response.data.data)
  },
  computed:{
    pricesum(){
      return document.getElementById(pr1)
    }
  }
}
</script>

<style scoped>
.plz_select_inform{
  text-align: center;
  font-size: 1.3em;
}
#shop{
    padding-left: 0.7em;
    padding-right: 0.7em;
}
#pickup{
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 0.7em;
}
.timecaution{
  font-family: 'Inter UI',fot-udkakugo-large-pr6n,'Noto Sans JP', 'Noto Sans SC','Noto Sans KR',sans-serif !important;
  font-size: 1.3em !important;
  font-weight: 700
}
.timecaution #picktime{
  font-family: 'Inter UI','Noto Sans JP', 'Noto Sans SC','Noto Sans KR',sans-serif !important;
  font-size: 1.3em !important;
  color:tomato;
}
.noline{
  text-decoration: none;
}
.textsize{
  font-size: 1.3em;
  color: black !important;
}
</style>

