<template>
  <div>
    <p class="plz_select_inform">
      あなたに紐づけられたショップからお選びください。
    </p>
    <v-container>
      <v-row
      v-for="post in posts"
      :key="post.id">
        <v-col class="plz_select_inform" col="8">
          <EaseSelector
            :title="post.name"
            :surl="'./'+post.id"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import EaseSelector from '~/components/EaseSelector'
import axios from 'axios'
export default {
  components: {
    EaseSelector,
  },
  data(){
    return{
      posts: [],
    }
  },
  mounted(){
  axios.request({
    method: 'get',
    url: 'http://localhost:5000/api/shop/findbyowner',
    params: {
      id: this.$auth.user.id,
      }
    })
    .then((response) => this.posts = response.data.data)
  }
}
</script>

<style scoped>
.plz_select_inform{
  text-align: center;
  font-size: 1.3em;
}
</style>
