<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in notli"
          :key="i"
          :to="item.to"
          router
          exact
          class="b"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
          class="b"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list>
        <p>ショップ管理メニュー</p>
        <v-list-item
          v-for="(item, i) in sas"
          :key="i"
          :to="item.to"
          router
          exact
          class="b"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list>
        <p>システム管理メニュー（管理者しか開くことはできません）</p>
        <v-list-item
          v-for="(item, i) in adms"
          :key="i"
          :to="item.to"
          router
          exact
          class="b"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn icon @click="$auth.logout()">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
    </v-app-bar>
    <v-Main>
      <v-container>
        <nuxt />
      </v-container>
    </v-Main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }} <a href="/dev">Fuminori Ogawa /Gentoo Graphonica</a></span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  loading: false,
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      Typekit.load({
        async: true,
        active: () => {this.$nuxt.$loading.finish()}
      })
    })
  },
  data() {
    return {
      clipped: true,
      drawer: false,
      fixed: true,
      notli: [
        {
          icon: 'mdi-login-variant',
          title: 'ログイン',
          to: '/user/login',
        },
        {
          icon: 'mdi-account-plus',
          title: '登録',
          to: '/user/signup',
        },
      ],
      items: [
        {
          icon: 'mdi-apps',
          title: 'ユーザーポータル',
          to: '/user/portal',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'お知らせ',
          to: '/notification',
        },
        {
          icon: 'mdi-store',
          title: '注文/ショップリスト',
          to: '/shop/list',
        },
        {
          icon: 'mdi-login-variant',
          title: 'ログイン',
          to: '/user/login',
        },
        {
          icon: 'mdi-account-plus',
          title: '登録',
          to: '/user/signup',
        },
        {
          icon: 'mdi-book',
          title: 'ご利用方法',
          to: '/man',
        },
        {
          icon: 'mdi-domain',
          title: '運営・開発会社と方針',
          to: '/dev',
        },
      ],
      sas: [
        {
          icon: 'mdi-format-list-checks',
          title: '店頭ポータル',
          to: '/manager/sa/ordered/',
        },
      ],
      adms: [
        {
          icon: 'mdi-account-plus',
          title: 'ショップ管理者の追加',
          to: '/manager/admin/user/saadd',
        },
        {
          icon: 'mdi-account-plus',
          title: '管理者の追加',
          to: '/manager/admin/user/addadm',
        },
      ],
      miniVariant: false,
      title: 'Arizona',
    }
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://rsms.me/inter/inter-ui.css');
.v-application{
  font-family: 'Inter UI', a-otf-ud-shin-go-pr6n, ar-udjingxiheib5, ar-udjingxiheigbstd,'Noto Sans JP', sans-serif !important;
  font-weight: 300;
}
.cn {
  font-family: 'Inter UI', ar-udjingxiheigbstd, sans-serif !important;
}
h1, h2, h3, h4, h5, h6, b,.v-application .headline, .b, .v-toolbar__title {
  font-family: 'Inter UI',fot-udkakugo-large-pr6n,'Noto Sans JP', 'Noto Sans SC','Noto Sans KR',sans-serif !important;
}
input, .v-btn__content {
  font-family: 'Inter UI', 'Noto Sans JP', 'Noto Sans SC','Noto Sans KR',sans-serif !important;
}
</style>
