<template>
<div>
  <v-row justify="center">
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
        >
        <slot />
        </v-btn>
      </template>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>注文入力</v-toolbar-title>
        </v-toolbar>
        
        <form @submit.prevent="createOrder">
        <v-container>
          <v-row>
            <v-col cols="9">
            <v-select
              v-model.number="orders.itemid1"
              :items="posts"
              item-text='name'
              item-value='id'
              label="注文する商品*"
              :rules="[rules.required]"
            ></v-select>
            </v-col>

            <v-col cols="3">
            <v-select
              v-model.number="orders.quantity1"
              :items="items"
              label="個数*"
              :rules="[rules.required]"
            ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="9">
            <v-select
              v-model.number="orders.itemid2"
              :items="posts"
              item-text='name'
              item-value='id'
              label="注文する商品"
            ></v-select>
            </v-col>

            <v-col cols="3">
            <v-select
              v-model.number="orders.quantity2"
              :items="items"
              label="個数"
            ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="9">
            <v-select
              v-model.number="orders.itemid3"
              :items="posts"
              item-text='name'
              item-value='id'
              label="注文する商品"
            ></v-select>
            </v-col>

            <v-col cols="3">
            <v-select
              v-model.number="orders.quantity3"
              :items="items"
              label="個数"
            ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="9">
            <v-select
              v-model.number="orders.itemid4"
              :items="posts"
              item-text='name'
              item-value='id'
              label="注文する商品"
            ></v-select>
            </v-col>

            <v-col cols="3">
            <v-select
              v-model.number="orders.quantity4"
              :items="items"
              label="個数"
            ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="9">
            <v-select
              v-model.number="orders.itemid5"
              :items="posts"
              item-text='name'
              item-value='id'
              label="注文する商品"
            ></v-select>
            </v-col>

            <v-col cols="3">
            <v-select
              v-model.number="orders.quantity5"
              :items="items"
              label="個数"
            ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-select
              v-model="orders.picktime"
              :items="picktimes"
              label="受け取り希望時刻"
            ></v-select>
          </v-row>

          <v-row>
            <v-text-field
            label="ユーザーID番号"
            v-model.number="orders.userid"
            readonly
            >
            </v-text-field>
          </v-row>
          <v-btn color="primary" type="submit" @click="dialog2 = true">
            登録
          </v-btn>
          
        </v-container>
    </form>
      </v-card>
    </v-dialog>
  </v-row>
  
    <v-layout row justify-center>
      <v-dialog v-model="dialog2" persistent width="80vw">
      <v-card>
        <v-card-title class="headline">注文が完了しました。</v-card-title>
          <v-card-text>ご利用ありがとうございます。失敗している場合がありますので以下に注文した内容が入っていることをお確かめください。</v-card-text>
          <iframe src="/user/ordered" />
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat text @click="dialog2 = false">内容を確認してもう一回注文します</v-btn>
            <v-btn color="green darken-1" flat text @click="dialog2 = false; dialog = false;">大丈夫です。終了します。</v-btn>
        </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      dialog: false,
      dialog2: false,
      notifications: false,
      sound: true,
      widgets: false,
      select: null,
      returnod: [],
      posts: {
        name:'',
        id:''
      },
      items: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10
      ],
      picktimes: [
        "10:00",
        "10:30",
        "11:00",
        "11:30",
        "12:00",
        "12:30",
        "13:00",
        "13:30",
        "14:00",
      ],
      orders: {
        userid: this.$auth.user.id,
        itemid1: null,
        quantity1: null,
        itemid2: null,
        quantity2: null,
        itemid3: null,
        quantity3: null,
        itemid4: null,
        quantity4: null,
        itemid5: null,
        quantity5: null,
        picktime:null,
        shopid: this.$route.params.id,
      },
      rules: {
        required: value => !!value || 'この項目を空欄にしないでください。',
      },
    }
  },
  mounted () {
    axios.request({
      method: 'get',
      url: 'http://localhost:5000/api/item/list/',
      params: {
        id: this.$route.params.id,
      }
    })
    .then((response) => this.posts = response.data.data)
  },
  methods:{
    createOrder(){
      this.$axios.post('/api/order/new',this.orders)
      .then((response) => {
        data: retirn: this.returnod
      })
    },
  }
}
</script>
