<template>
 <div class="page">
  <v-card
    class="mx-auto intercolumn"
    elevation="2"
    outlined
    v-for="post in post"
    :key="post.id"
  >
  <v-card-title>
   {{ post.name }}
  </v-card-title>
  <v-card-subtitle>
    所在地:
    {{ post.place }}
    <br />
    ID:
    {{ post.id }}
  </v-card-subtitle>
  <v-card-text v-if="$auth.user.role=='Admin' || $auth.user.role=='SA'">
    <a
      type="button"
      class="v-btn v-btn--flat v-btn--text theme--light v-size--default"
      @click="deleteShop(); alertfordelshop()"
    >
      {{ post.name }}
      を削除
    </a>
    <a
      type="button"
      class="v-btn v-btn--flat v-btn--text theme--light v-size--default"
      :href="'./'+post.id+'/item/new'"
    >
      商品を追加
    </a>
  </v-card-text>
  </v-card>
  <ItemList />
  <OrderDialog>
    ここで注文する
  </OrderDialog>
  <hr>
  <p>
    上に何も表示がされませんか？<a href="/shoplist">ショップリスト</a>を選び直してください。
  </p>
 </div>
</template>

<script>
import axios from 'axios'
import ItemList from '~/components/Item/ItemList'
import OrderDialog from '~/components/Item/OrderDialog'

export default {
  components: {
    ItemList,
    OrderDialog,
  },
  data () {
    return {
      post: [],
      show1: true,
    }
  },
  mounted () {
    axios.request({
      method: 'get',
      url: 'http://localhost:5000/api/shopd/',
      params: {
        id: this.$route.params.id,
      }
    })
    .then((response) => this.post = response.data.data)
  },
  methods:{
    deleteShop(){
      axios.request({
        method: 'delete',
        url: 'http://localhost:5000/api/shopd/',
        params: {
          id: this.$route.params.id,
        }
      })
      .then((response) => {
      })
    },
    alertfordelshop(){
      alert('削除されました。ホームに戻ります。')
      this.$router.push('/')
    }
  },
}
</script>
