<template>
  <div>
    <a href="#tos">ご利用規約</a>
    <a href="#pp">個人情報保護方針</a>
    <a href="#disclosure">開示方針 Disclosure <span class="cn">公开请求</span></a>
    <v-layout column>
      <h2>
        幻燈計画について
      </h2>
      <h4>幻燈計画</h4>
      <p>幻燈計画/Gentoo Graphonicaはアプリケーション・コンテンツの配信サービスを行っているクリエイター支援団体です。Androidアプリ及びWEBアプリの配信をクリエイター様から請負い、弊社保有もしくは弊社提携のサーバーからの配信を行っています</p>
      <hr>
      <h2 id="domain">
        規約・方針
      </h2>
      <p>
        これらの文書は幻燈計画サービス統一での運営方針を表示しています。すべての文章は翻訳が提供されている場合でも日本語版を最優先言語といたします。
      </p>
      <h2 id="tos">
        ご利用規約
      </h2>
      <div>
        利用規約<br />
        この利用規約（以下，「本規約」といいます。）は，幻燈計画（以下，「運営者」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。<br />
        第1条（適用）<br />
        * 本規約は，ユーザーと運営者との間の本サービスの利用に関わる一切の関係に適用されるものとします。<br />
        * 運営者は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。<br />
        * 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。<br />
        第2条（利用登録）<br />
        * 本サービスにおいては，登録希望者が本規約に同意の上，運営者の定める方法によって利用登録を申請し，運営者がこれを承認することによって，利用登録が完了するものとします。<br />
        * 運営者は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。<br />
            * 利用登録の申請に際して虚偽の事項を届け出た場合<br />
            * 本規約に違反したことがある者からの申請である場合<br />
            * その他，運営者が利用登録を相当でないと判断した場合<br />
        第3条（ユーザーIDおよびパスワードの管理）<br />
        * ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。<br />
        * ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。運営者は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。<br />
        * ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は，運営者に故意又は重大な過失がある場合を除き，運営者は一切の責任を負わないものとします。<br />
        第4条（利用料金および支払方法）<br />
        * ユーザーは，本サービスの有料部分の対価として，運営者が別途定め，本ウェブサイトに表示する利用料金を，運営者が指定する方法により支払うものとします。<br />
        * ユーザーが利用料金の支払を遅滞した場合には，ユーザーは年14．6％の割合による遅延損害金を支払うものとします。<br />
        第5条（禁止事項）<br />
        ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。<br />
        * 法令または公序良俗に違反する行為<br />
        * 犯罪行為に関連する行為<br />
        * 本サービスの内容等，本サービスに含まれる著作権，商標権ほか知的財産権を侵害する行為<br />
        * 運営者，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為<br />
        * 本サービスによって得られた情報を商業的に利用する行為<br />
        * 運営者のサービスの運営を妨害するおそれのある行為<br />
        * 不正アクセスをし，またはこれを試みる行為<br />
        * 他のユーザーに関する個人情報等を収集または蓄積する行為<br />
        * 不正な目的を持って本サービスを利用する行為<br />
        * 本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為<br />
        * 他のユーザーに成りすます行為<br />
        * 運営者が許諾しない本サービス上での宣伝，広告，勧誘，または営業行為<br />
        * 面識のない異性との出会いを目的とした行為<br />
        * 運営者のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為<br />
        * その他，運営者が不適切と判断する行為<br />
        第6条（本サービスの提供の停止等）<br />
        * 運営者は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。<br />
            * 本サービスにかかるコンピュータシステムの保守点検または更新を行う場合<br />
            * 地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合<br />
            * コンピュータまたは通信回線等が事故により停止した場合<br />
            * その他，運営者が本サービスの提供が困難と判断した場合<br />
        * 運営者は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。<br />
        第7条（利用制限および登録抹消）<br />
        * 運営者は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。<br />
            * 本規約のいずれかの条項に違反した場合<br />
            * 登録事項に虚偽の事実があることが判明した場合<br />
            * 料金等の支払債務の不履行があった場合<br />
            * 運営者からの連絡に対し，一定期間返答がない場合<br />
            * 本サービスについて，最終の利用から一定期間利用がない場合<br />
            * その他，運営者が本サービスの利用を適当でないと判断した場合<br />
        * 運営者は，本条に基づき運営者が行った行為によりユーザーに生じた損害について，一切の責任を負いません。<br />
        第8条（退会）<br />
        ユーザーは，運営者の定める退会手続により，本サービスから退会できるものとします。<br />
        第9条（保証の否認および免責事項）<br />
        * 運営者は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。<br />
        * 運営者は，本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。ただし，本サービスに関する運営者とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。<br />
        * 前項ただし書に定める場合であっても，運営者は，運営者の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（運営者またはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。また，運営者の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は，ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。<br />
        * 運営者は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。<br />
        第10条（サービス内容の変更等）<br />
        運営者は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。<br />
        第11条（利用規約の変更）<br />
        運営者は，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該ユーザーは変更後の規約に同意したものとみなします。<br />
        第12条（個人情報の取扱い）<br />
        運営者は，本サービスの利用によって取得する個人情報については，運営者「プライバシーポリシー」に従い適切に取り扱うものとします。<br />
        第13条（通知または連絡）<br />
        ユーザーと運営者との間の通知または連絡は，運営者の定める方法によって行うものとします。運営者は,ユーザーから,運営者が別途定める方式に従った変更届け出がない限り,現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い,これらは,発信時にユーザーへ到達したものとみなします。<br />
        第14条（権利義務の譲渡の禁止）<br />
        ユーザーは，運営者の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。<br />
        第15条（準拠法・裁判管轄）<br />
        * 本規約の解釈にあたっては，日本法を準拠法とします。<br />
        * 本サービスに関して紛争が生じた場合には，岡山地方裁判所または岡山簡易裁判所を専属的合意管轄とします。<br />
        以上
      </div>
      <h2 id="pp">
        個人情報保護方針
      </h2>
      <p>
        プライバシーポリシー
        幻燈計画（以下，「運営者」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。<br />

        第1条（個人情報）<br />
        「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。<br />

        第2条（個人情報の収集方法）<br />
        運営者は，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレス，銀行口座番号，クレジットカード番号，運転免許証番号などの個人情報をお尋ねすることがあります。また，ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を,運営者の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。<br />

        第3条（個人情報を収集・利用する目的）<br />
        運営者が個人情報を収集・利用する目的は，以下のとおりです。<br />
        ・運営者サービスの提供・運営のため<br />
        ・ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）<br />
        ・ユーザーが利用中のサービスの新機能，更新情報，キャンペーン等及び運営者が提供する他のサービスの案内のメールを送付するため<br />
        ・メンテナンス，重要なお知らせなど必要に応じたご連絡のため<br />
        ・利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため<br />
        ・ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため<br />
        ・有料サービスにおいて，ユーザーに利用料金を請求するため<br />
        ・上記の利用目的に付随する目的<br />

        第4条（利用目的の変更）<br />
        運営者は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。<br />
        利用目的の変更を行った場合には，変更後の目的について，運営者所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。<br />

        第5条（個人情報の第三者提供）<br />
        運営者は，次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。<br />
        ・人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき<br />
        ・公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき<br />
        ・国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br />
        ・予め次の事項を告知あるいは公表し，かつ運営者が個人情報保護委員会に届出をしたとき<br />
        &nbsp; ・利用目的に第三者への提供を含むこと<br />
        &nbsp; ・第三者に提供されるデータの項目<br />
        &nbsp; ・第三者への提供の手段または方法<br />
        &nbsp; ・本人の求めに応じて個人情報の第三者への提供を停止すること<br />
        &nbsp; ・本人の求めを受け付ける方法<br />
        前項の定めにかかわらず，次に掲げる場合には，当該情報の提供先は第三者に該当しないものとします。<br />
        ・運営者が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合<br />
        ・合併その他の事由による事業の承継に伴って個人情報が提供される場合<br />
        ・個人情報を特定の者との間で共同して利用する場合であって，その旨並びに共同して利用される個人情報の項目，共同して利用する者の範囲，利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について，あらかじめ本人に通知し，または本人が容易に知り得る状態に置いた場合<br />

        第6条（個人情報の開示）<br />
        運営者は，本人から個人情報の開示を求められたときは，本人に対し，遅滞なくこれを開示します。ただし，開示することにより次のいずれかに該当する場合は，その全部または一部を開示しないこともあり，開示しない決定をした場合には，その旨を遅滞なく通知します。なお，個人情報の開示に際しては，1件あたり1,000円の手数料を申し受けます。<br />
        本人または第三者の生命，身体，財産その他の権利利益を害するおそれがある場合<br />
        運営者の業務の適正な実施に著しい支障を及ぼすおそれがある場合<br />
        その他法令に違反することとなる場合<br />
        前項の定めにかかわらず，履歴情報および特性情報などの個人情報以外の情報については，原則として開示いたしません。<br />

        第7条（個人情報の訂正および削除）<br />
        ユーザーは，運営者の保有する自己の個人情報が誤った情報である場合には，運営者が定める手続きにより，運営者に対して個人情報の訂正，追加または削除（以下，「訂正等」といいます。）を請求することができます。<br />
        運営者は，ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の訂正等を行うものとします。<br />
        運営者は，前項の規定に基づき訂正等を行った場合，または訂正等を行わない旨の決定をしたときは遅滞なく，これをユーザーに通知します。<br />

        第8条（個人情報の利用停止等）<br />
        運営者は，本人から，個人情報が，利用目的の範囲を超えて取り扱われているという理由，または不正の手段により取得されたものであるという理由により，その利用の停止または消去（以下，「利用停止等」といいます。）を求められた場合には，遅滞なく必要な調査を行います。<br />
        前項の調査結果に基づき，その請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の利用停止等を行います。<br />
        運営者は，前項の規定に基づき利用停止等を行った場合，または利用停止等を行わない旨の決定をしたときは，遅滞なく，これをユーザーに通知します。<br />
        前2項にかかわらず，利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって，ユーザーの権利利益を保護するために必要なこれに代わるべき措置をとれる場合は，この代替策を講じるものとします。<br />

        第9条（プライバシーポリシーの変更）<br />
        本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。<br />
        運営者が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。<br />

        第10条（お問い合わせ窓口）<br />
        本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。<br />
<br />
        住所：お問い合わせください<br />
        運営者名：幻燈計画（本名はお問い合わせください）<br />
        担当部署：代表室セキュア・インフォメーション・グループ<br />
        Eメールアドレス：support_secure@gentoo.app<br />
<br />
        以上
      </p>

      <h2 id="disclosure">
        情報開示について
      </h2>
      <p>
        電気通信事業法およびその関連法令・判例に基づき，必要に応じて運営者では情報開示手続きを受け付けます。
        詳細につきましては，代表室セキュア・インフォメーション・グループ　<a href="mailto:support_secure@gentoo.app">support_secure@gentoo.app</a> までご連絡ください。
        <br />
        なお，情報保護の観点から政府機関（司法機関含む）・弁護士などについて，正当な開示請求と確認できた場合のみ開示いたしますので，可能な限り<b>所属組織のドメインを使用したEメール</b>でご連絡ください。<br>
        <span class="cn"> Gentoo (Okayama, Japan) is a Japanese web service provider. We accept only the personal information release request of the Japanese expert by the identity confirmation of the personnel./幻灯计划公司（在日本・冈山）是日本的WEB服务运营商。本公司根据人员的本人确认性，只接受日本专家的公开请求。</span>
      </p>
    </v-layout>
  </div>
</template>

<script>

export default {
}
</script>
