<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          取扱説明書
        </v-card-title>
        <v-card-text>
          <p>以下のボタンよりダウンロードしていただけます。
          </p>
          <div class="text-xs-right">
            <em><small>&mdash; マニュアル制作：幻燈計画</small></em>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" nuxt to="/manual.pdf">
            Download
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  middleware({ store, redirect }) {
    if(!store.$auth.loggedIn) {
      redirect('/user/login');
    }
  },
//  components: {
  //   Logo,
  //   VuetifyLogo,
  // },
}
</script>
