<template>
  <div>
    <v-layout column>
      <h2>
        お知らせ一覧
      </h2>
    </v-layout>
    <v-layout column justify-center align-center>
      <NotifyCard
      v-for="(portal, p) in purls"
      class="intercolumn"
      :key="p"
      :title="portal.title"
      :subtitle="portal.subtitle"
      :description="portal.description"
      />
    </v-layout>
  </div>
</template>

<script>
import PortalCard from '~/components/Notify/NotifyCard'

export default {
 components: {
   PortalCard,
 },
 data() {
  return{
    purls: [
      {
      title: 'ご利用方法に関するアドバイス',
      subtitle: '〜より賢く使うために〜',
      description: 'ご利用に際し，マニュアルページを読むことをおすすめします。左のメニューから「利用方法」をご確認ください！',
      },
      {
      title: 'ご存知でしたか?',
      subtitle: '/womanは存在しません',
      description: 'manページはマニュアルページとしてこのURLを設定していますが，womanページは存在しません。Hyper Text Coffee Pot Control Protocol（RFC 2324）418エラー「私はティーポットです」が作動します。つまり，ジョークページです。',
      },
    ],
  }
 }
}
</script>
