<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          418 I'm a teapot.
        </v-card-title>
        <v-card-text>
          <p>The HTTP 418 I'm a teapot client error response code indicates that the server refuses to brew coffee because it is, permanently, a teapot. A combined coffee/tea pot that is temporarily out of coffee should instead return 503. This error is a reference to Hyper Text Coffee Pot Control Protocol defined in April Fools' jokes in 1998 and 2014.(MDN)
          </p>
          <h3>
            コラム：ご存知でしたか？
          </h3>
          <p>
            ところで、manページからきた方がほとんどだと思いますが、manはmanualの略です。
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" nuxt to="/manual.pdf">
            <span class="b">マニュアルをダウンロードする</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  middleware({ store, redirect }) {
    if(!store.$auth.loggedIn) {
      redirect('/user/login');
    }
  },
//  components: {
  //   Logo,
  //   VuetifyLogo,
  // },
}
</script>
