<template>
<div>
  <div>
  <h1>商品登録</h1>
  <form @submit.prevent="registerItem">
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="item.name"
          label="名前"
        >
        </v-text-field>
      </v-col> 
    </v-row>
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model.number="item.price"
          label="価格"
        >
        </v-text-field>
      </v-col> 
    </v-row>
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model.number="item.quantity"
          label="初期在庫"
        >
        </v-text-field>
      </v-col> 
    </v-row>
    <div class="form-group">
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model.number="item.shopid"
          label="ショップID"
          readonly
        >
        </v-text-field>
      </v-col> 
    </v-row>
    </div>
    <v-btn color="primary" type="submit" @click="returnList()">
      登録
    </v-btn>
  </form>
  </div>
</div>
</template>

<script>
  export default {
    middleware({ store, redirect }) {
      if(!store.$auth.role=='Admin') {
        redirect('/user/login');
      }
    },
    data(){
      return {
        item:{
          name:'',
          price:'',
          quantity:'',
          shopid:this.$route.params.id,
        },
      }
    },
    methods:{
      registerItem(){
        this.$axios.post('/api/item/new',this.item)
        .then((response) => {
          data: this.item
        })
      },
      returnList(){
        alert('登録されたと思います')
        this.$router.push('/'+this.$route.params.id)
      }
    }
  }
</script>